# Python
__pycache__/
.env
.env/
*.pyc

# Virtual environments
.venv/
venv/
env/

# uv
.uv-cache/

# IDEs
.idea/
.vscode/
frontend/.vscode/

# OS
.DS_Store

# Environment
.env

# Claude Code
.claude/settings.local.json

# Gemini CLI
.gemini/

# Project Specific
logs/
node_modules/
data/
temp/
WareHouse/
